<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="formContainer">
        <div class="headerLable">
            <label for="">Login</label>
        </div>
        <ul class="firstLi">
          <li> <label  id="labelForUserName">UserName:</label><input type="text" id="UserName" [(ngModel)]="UserName" ></li>
          <li> <label id="labelForUserPassword">Password:</label><input type="text" id="UserName" [(ngModel)]="Password"></li>
        </ul>
        <div class="bottomContainer">
           <p><label id="errorMessage">{{this.error}}</label></p>
           <p><a href="#" [routerLink]="['/register']">Create new account</a></p>
           <button (click)="loginChecked()">Login</button>
       </div>
    </div>
</body>
</html>
