body {
    background-color: rgb(186, 235, 8);
    color:rgb(5, 5, 5);
    font-family: Calibri;
}
.title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    color: rgb(241, 245, 14);
    background-color: rgb(17, 0, 255);
    border-radius: 10px;    
}
.outerLayer {
    justify-content: center;
    display: flex;
    height: 250px;
    margin-top: 20%;
}
.innerLayer {
    border: 1px solid rgb(7, 7, 7);
    width: 30%;
    text-align: center;
    border-radius: 10px;
}
.first,.last,.webstay,.link,.button{
    padding-bottom: 10px;
}
#addWebsite{
    width: 50%;
}