/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}
.footer{
    position: relative;
    top: 883px;
        
}
body{
background-color: cadetblue;
font-family: 'Courier New', Courier, monospace;

}