#output{
    width: 524px;
    margin-top:18px; 
    padding-left: 9px;;
} 
.container{
    width:283px;
    background-color:#839bd19e;
    padding:15px;
    border: 1px solid;
} 
.outer{
    justify-content: center;
    padding: 25px;
} 


