<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogOne</title>
</head>
<body>
    <div class="heraderLabel">
        <label id="blogOne">BlogOne</label> <button class="backButton" routerLink='/blog'>Back</button>
      </div>
    <div class="formContainer">
           <img src={{this.image}}  alt="blogOne">
    </div>
</body>
</html>
